body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* SIDEBAR */
nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;           /* full screen height */
    background-color: #2c3e50;
    padding-top: 20px;

    overflow-y: auto;        /* 🔥 THIS enables vertical scrolling */
}

nav a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}


nav a:hover {
    background-color: #34495e;
}


.main-content {
    margin-left: 220px;
    padding: 20px;
}